<h1>Rent created</h1>

<p>
  The rent for the book: <%= @book.title %>.
  author: <%= @book.author %>
  publisher: <%= @book.publisher %>
  genre: <%= @book.genre %>
</p>
<p>
  The rent was from: <%= @from %> to: <%= @to %>
</p>
