<h1><%= I18n.t('views.rent_mailer.header') %></h1>

<p>
  <%= I18n.t('views.rent_mailer.title',title: @book.title) %> <br>
  <%= I18n.t('views.rent_mailer.author',author: @book.author) %> <br>
  <%= I18n.t('views.rent_mailer.publisher',publisher: @book.publisher) %> <br>
  <%= I18n.t('views.rent_mailer.genre',genre: @book.genre) %> <br>
</p>
<p>
  <%= I18n.t('views.rent_mailer.rent_creation_time',time_now: @time_now) %> <br>
  <%= I18n.t('views.rent_mailer.rent_time',from: @from, to: @to) %>
</p>
